<div class="modal fade" id="TestNetMetamask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TestNetMetamaskModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are connected to the Ethereum testnet. Please connect to the Ethereum mainnet.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="BlockedMetamask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><img src="https://tradex.one/img/logo.png" width="35" height="35" alt="tradex.one">Please Login.</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
          <div class="modal-body">
           <table id="classTable" class="table table-bordered">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td align="center"><a href="#" role="button" data-toggle="modal"><img src="https://tradex.one/img/metamask.png" width="122" height="145" alt=""></td>
              <td align="center"><a href="#" role="button" data-toggle="modal"><img src="https://tradex.one/img/Ledger-logo-resize.jpg" alt="" width="122" height="145"></td>
           
      </tr>
          </tbody>
            </table>   
       
       <b> You are using MetaMask but you are not logged in.<br> Please log in to MetaMask or your Nano Ledger and refresh.</b>
      <hr></div><center><div><button type="button" class="btn btn-success">Connect to Metamask</button></div></center><hr>
      <div class="modal-footer">
        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="NoInstallMetamask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">We need to install keys store Metamask</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Brings Ethereum to your browser
        <br />
        <a class="btn btn-default" role="button" href="https://metamask.io/">Install Metamask</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
