@model string
<div class="row" id="a3">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h5 class="order-title">My OPEN ORDERS</h5>
    <div class="order-table color-table">
      <table class="table table-striped order-table-fixed">
        <thead>
          <tr>
            <th>Type</th>
            <th>@Model</th>
            <th>Price (ETH)</th>
            <th>Total (ETH)</th>
            <th>Volume (@Model)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="js-myorders"></tbody>
      </table>
    </div>
  </div>
</div>
